mat-toolbar {
  background-color: #222;
  height: auto;
  padding: 5px 0;
  color: #fff;
  .img {
    height: 42px;
    width: 42px;
  }
  mat-icon {
    font-size: 19px;
    transform: translateY(5px);
  }
}

.spacer {
  flex: 11 auto;
}

.nav_link {
  cursor: pointer;
  font-size: 16px;
  font-weight: normal;
}
