<div id="LoginForm">
  <div class="container">
    <h1 class="form-heading">Register Form</h1>
    <div class="login-form">
      <div class="main-div">
        <div class="panel">
          <h2>Register</h2>
        </div>
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Username"
              ngModel
              name="username"
              required
              autofocus
            />
          </div>

          <div class="form-group">
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              ngModel
              name="password"
              required
              minlength="6"
              maxlength="12"
              #pass="ngModel"
              pattern="(?:(?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
            />
          </div>
          <div
            class="validate_message"
            *ngIf="!pass.valid && pass.touched && pass.hasError('required')"
          >
            Password is required
          </div>
          <div
            class="validate_message"
            *ngIf="!pass.valid && pass.touched && pass.hasError('minlength')"
          >
            Password must be at least 6 characters long.
          </div>
          <div
            class="validate_message"
            *ngIf="!pass.valid && pass.touched && pass.hasError('pattern')"
          >
            Password must contain numbers letters
          </div>
          <div class="forgot mt-1">
            <a routerLink="/login">Sign in here</a>
          </div>
          <button
            type="submit"
            [disabled]="registerForm.invalid"
            class="btn btn-primary"
          >
            Create Account
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
